/*General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-family: Roboto, sans-serif;
    --color: #434455;
    --background-color: #FFFFFF;
}
body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF  
}

.list {
    list-style: none;
    display: flex;
    gap: 40px;
}
.link {
    text-decoration: none;
}  

img {
    display: block;
}
/*Header*/

.navigation {
    background-color: var(--primary-white-color, #FFFFFF);
    padding: 0 15px 0 15px;
    align-items: center;
    display: flex;

}

.web-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    font-style: normal;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;

}
.studio-logo {
    color: var(--nav-log-foot-color, #2e2f42);
}
.link-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    font-style: normal;
    text-transform: uppercase;
    color: var(--nav-log-foot-color, #2e2f42);
    margin-right: 40px;
    padding: 24px 0;
}
.link-nav:hover,
.link-nav:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}
.address-link {
    color: var(--adres-text-color, #434455);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    font-weight: 400;
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/*Service section*/

.service {
    background-color: #2e2f42;
    padding: 188px 0;
}
.service-section {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.service-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-top: 48px;
    margin-right: 479px;
    margin-left: 479px;
    margin-bottom: 188px;
    min-width: 169px;
}

/* Advantages section*/

.our-advantures {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.goals {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.service-button:hover,
.service-button:focus  {
    background-color: #404BBF;
}
/*Work section*/

.work {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

/*Team section*/

.team {
    background-color: #F4F4FD
}
.our-team {
    font-size: 36px;
    line-height: 1.11;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.list-images {
    background-color: #FFFFFF;
}
.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.profesion {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*Footer*/
.footer {
background-color: var(--nav-log-foot-color, #2e2f42);
}

.footer-logo {
    color: #f4f4fd;
}

.marketing {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}

/*Portfolio*/

.button-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
}
 .button-item:hover,
 .button-item:focus {
    color:#FFFFFF;
    background-color: #404BBF;
 }

/*Images list*/
.image-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.image-action {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-conteiner {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
}

.conteiner {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.list-continer {
    display: flex;
    gap: 40px;
}
